                         <div class="quote">
                            <fieldset>
                                <legend>Цитата № <%= quote.id %></legend>
                                <div class="formTable">
                                    <div class="formRow">
                                        <div class="formCell formLabel">Время</div>
                                        <div class="formCell formField"><%= quote.date %></div>
                                    </div>
                                    <div class="formRow">
                                        <div class="formCell formLabel">Автор</div>
                                        <div class="formCell formField"><%= quote.authorName %></div>
                                    </div>
                                    <div class="formRow">
                                        <div class="formCell formLabel">Цитата</div>
                                        <div class="formCell formField"><%= quote.text %></div>
                                    </div>                                    
                                <div> </div>
                                </div>
                            </fieldset>
                        </div>