<div id="main">     
        <div id="sidebar">
            <div class="menuItem"><a id='linkAddQuote' href='#'>Создать цитату</a></div>
        </div>
        <div id="content">
            <div id="cont">
                    <div id='page-content'>
                        <!--<div class="quote"></div> -->
                    </div>
                    <ul id="pagination" class="pagination-sm"></ul>
            </div>
        </div>
</div>
<!-- HTML-код модального окна -->
<div id="myModal" class="modal fade"> </div>